<a href="https://colab.research.google.com/github/mixhub10/dl16/blob/main/notebook/ch02_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ch02_python.ipynb
##dl16
- 파이썬 복습

In [1]:
# cap02 - python basics
#
3.14 * 10 * 10 

3.14 * 10**2

314.0

In [2]:


type(10)

type(3.14)

type("python")

str

In [3]:


r = 20

PI = 3.14		# 원주율 정의

area = PI * r**2

area

1256.0

In [4]:

# list
lst = [ 10, 20, 30, 40, 50]		# 리스트 정의

lst

[10, 20, 30, 40, 50]

In [5]:

# indexing & slicing
lst[2] 				# 리스트의 요소 접근

lst[2] = 90			# 세 번째 요소를 90으로 변경

lst

len(lst)

lst[0:3]

lst[2:]	

lst[:3]

lst[:-1]

[10, 20, 90, 40]

In [6]:

# dictionary
car = { 'HP':200, 'make': "BNW" }	# 딕셔너리 정의

car['HP']

car['color'] = "white"

car

{'HP': 200, 'make': 'BNW', 'color': 'white'}

In [7]:

# Conditional
temp = -10

if temp < 0 :
    print("영하입니다.")	
else:
    print("영상입니다.")

영하입니다.

In [8]:

# loop
for i in [1, 2, 3, 4, 5] :
    print(i, end=" ")

1 2 3 4 5

In [9]:

# functio
def sayHello():
    print("Hello!")

sayHello()

Hello!

In [10]:

# class
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def sayHello(self):
    print("Hello 나의 이름은 " + self.name)

p1 = Person("John", 36)
p1.sayHello()

Hello 나의 이름은 John

In [11]:

# [DIY] 이름과 나이를 다 출력하게 코드를 변경하시오.
#################################################
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def sayHello(self):
    print("Hello 나의 이름은 " + self.name + " 나이는 " + str(self.age))

p1 = Person("kimminje", 25)
p1.sayHello()

Hello 나의 이름은 kimminje 나이는 25